.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-slide ion-img {
  max-width: 20em;
}

.swiper-slide h1 {
  font-size: 28px;
  font-family: 'Metropolis';
  color: #20123A;
}

.swiper-slide ion-text {
  font-family: 'Inter';
}

.swiper-pagination-bullet-active {
  background-color: var(--ion-color-success) !important;
}

#MyGardenTitle {
  font-family: 'Bebas Neue', cursive !important;
  font-size: 40px;
}
