ion-fab-button[data-desc] {
  position: relative;
}

ion-fab-button[data-desc]::after {
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  right: 50px;
  bottom: 4px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

h2 {
  font-family: 'Metropolis';
}

ion-label {
  font-family: 'Inter';
}

@media (prefers-color-scheme: dark) {
  ion-fab-button[data-desc]::after {
    background-color: black;
  }
}
