<ion-toolbar>
  <ion-title>{{ editMode ? "Modifier" : "Ajouter" }} un jardin</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="dismissModal()">Annuler</ion-button>
    <ion-button (click)="gardenForm.valid && onSave()" *ngIf="gardenForm" [disabled]="!gardenForm.valid">Valider
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="container">
    <div *ngIf="!formIsReady">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </div>
    <form *ngIf="formIsReady" [formGroup]="gardenForm" id="gardenForm">
      <div class="col-xl">
        <ion-item class="center-block">
          <ion-label position="floating">Nom du Jardin</ion-label>
          <ion-input
            autocomplete="on"
            formControlName="name"
            id="name"
            spellcheck="true"
            type="text"
          ></ion-input>
        </ion-item>
        <span *ngIf="!gardenForm.get('name').valid && gardenForm.get('name').touched" class="help-block">
                  <span *ngIf="gardenForm.get('name').errors['required']">
                  <ion-icon color="danger" name="alert-circle"></ion-icon>
                    <ion-text
                      color="danger">Ce champ est obligatoire.
                    </ion-text>
                  </span>
                <span *ngIf="gardenForm.get('name').errors['nameIsForbidden']">
                  <ion-icon color="danger" name="alert-circle"></ion-icon>
                    <ion-text
                      color="danger">Ce nom est déjà utilisé dans un autre Jardin.
                    </ion-text>
                  </span>
                <span *ngIf="gardenForm.get('name').errors['maxlength']">
                  <ion-icon color="danger" name="alert-circle"></ion-icon>
                    <ion-text
                      color="danger">Le nom peut comporter 20 caractères au maximum.
                    </ion-text>
                  </span>
                <span *ngIf="gardenForm.get('name').errors['minlength']">
                  <ion-icon color="danger" name="alert-circle"></ion-icon>
                    <ion-text
                      color="danger">Le nom peut comporter 3 caractères au minimum.
                    </ion-text>
                  </span>
        </span>
        <ion-item>
          <ion-label position="floating">Autres informations</ion-label>
          <ion-textarea formControlName="description" id="description"></ion-textarea>
        </ion-item>
      </div>
      <div class="row">
        <ion-title>
          Selectionnez vos légumes:
        </ion-title>
        <div class="align-items-center row-cols-md-auto">
          <ng-template [ngIf]="!editMode">
            <div class="alert alert-primary d-flex align-items-center" role="alert">
              <ion-icon name="information-circle" style="font-size: 70px"></ion-icon>
              <ion-label>
                Le nombre de légumes sélectionné doit correspondre au nombre de parcelles que vous allez définir
                plus-tard.
              </ion-label>
            </div>
          </ng-template>
        </div>
        <ion-list>
          <ion-button (click)="onSelectAll()"
                      size="small">{{ allVegetablesAreSelected ? 'Tout désélectionner' : 'Tout sélectionner' }}</ion-button>
          <ion-item *ngFor="let vegetable of vegetablesForm; let i = index">
            <ion-label>{{ vegetable.name }}</ion-label>
            <ion-checkbox [(ngModel)]="vegetable.isChecked" [ngModelOptions]="{standalone: true}"
                          slot="start"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
    </form>
  </div>
</ion-content>
