#canvasContainer {
  width: 100%;
  height: 100%;
}

button {
  position: absolute;
  z-index: 1;
}

#featureButtons-top {
  margin-top: -17em;
}

#featureButtons-right {
  margin-top: -4em;
  margin-left: 4em;
}
