<div id="canvasContainer">
  <canvas id="canvas"></canvas>
  <ion-fab horizontal="start" slot="fixed" vertical="bottom">
    <ion-fab-button (click)="onEdit()" *ngIf="year == currentYear" [ngSwitch]="isLocked" color="dark">
      <ion-icon *ngSwitchCase="true" name="create-outline"></ion-icon>
      <ion-icon *ngSwitchCase="false" name="save-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngIf="!isLocked">
    <ion-fab horizontal="start" id="featureButtons-top" size="small" slot="fixed">
      <ion-fab-button (click)="onAddCircle()" color="light" size="small">
        <ion-icon src='assets/icon/circle.svg'></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="onAddRect()" color="light" size="small">
        <ion-icon src='assets/icon/square.svg'></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="onAddTriangle()" color="light" size="small">
        <ion-icon src='assets/icon/triangle.svg'></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="onAddText()" color="light" size="small">
        <ion-icon name="text-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab horizontal="start" id="featureButtons-right" size="small">
      <ion-fab-button (click)="onLoadVegetables()" color="light" size="small">
        <ion-icon name="rocket-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</div>
